<html>
  <head>
    <title>Andela</title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/materialize.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
  </head>

  <body>
    <div id="layer">
      <div class="top-bar">
        <div class="row">
          <div class="left valign-wrapper">
            <img src="../images/andela-logo.jpg" width=90em />
            <span class="white-text" id="brand-name">Andela Fellows</span>
          </div>
        </div>
      </div>
      <div class="big-line-break"></div>
      <div class="fellow-list">
        <div class="container">
          <div class="row">
            <div class="col l3">&nbsp;</div>
            <div class="col l5">
              <form method="POST">
                <input type="text" class="white-text" name="first_name" value=<%= fellow.first_name %> />
                <input type="text" class="white-text" name="last_name" value=<%= fellow.last_name %> />
                <input type="text" class="white-text" name="email" value=<%= fellow.email %> />
                <input type="text" class="white-text" name="stack" value=<%= fellow.stack %> />
                <input name="_method" type="hidden" value="put" />
                <input type="submit" class="btn right" value="Update Fellow"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
